.flexRow--home__section--2{
    background-color: #212530;
    display: flex;
    justify-content: center;
    opacity: .95;
    align-items: center;
}

.flexRowContent--home__section--2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColChild--home__sectionCol--2{
    margin: 7px;
}
.flexRow--home__section--one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("https://cosonyb2c.vtexassets.com/assets/vtex.file-manager-graphql/images/bc65af1d-78dd-430f-b724-f0315ba61f1e___bf3b889d11bc8a5e4d7e6d055de8e34b.jpg");
    height: 405px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.flexRowContent--home__container-information{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 74vw;
    margin-right: 9rem;
}

.flexCol--home__section--info{
    margin-bottom: 5.5rem;
    margin-right: 45rem;
}
.flexColChild--home__section--info{
    height: 40px !important;
}

.flexRow--home__rich--text{
    margin-top: 5rem;
    text-align: center;
}

.flexRow--home__pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flexColChild--home_container--pictures{
    margin: 45px;
    width: 84%;
}

.flexRow--home__text--pictures{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol--home__text--rich{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 120px 30px 145px;

}

.flexRow--home__favorites--sony{
    display: flex;
    /* justify-content:space-between;  */
    align-items: center;
    height: 450px;
}

.flexColChild--home__favorites--one{
    margin: 5px 31px 0 31px;
}


/* Title NewLetter */

.flexRow--home__title--newletter{
    margin-top: 3rem ;
    margin-bottom: 3rem;
}

.flexRow--Home__container--form--newletter{
    width: 90%;
    padding: 1.6em 0 2.6em!important;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 4rem;
    background-color: #F1F5F9;
}

/* Payments */

.flexRowContent--home__payment--methods{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
}

.flexColChild--home__payments--col{
    margin: 4px;
}

.flexCol--home__payments--col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300%;
    margin: 10px;
}

.flexRowContent--home__payment--methods{
    display: flex;
    justify-content: center;
    align-items: baseline;
}


/* HELP BUY STORE */

.flexRow--home__help--buy{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}