.flexRow--home__section--2{
    background-color: #212530;
    display: flex;
    justify-content: center;
    opacity: .95;
    align-items: center;
}
.flexColChild--home__sectionCol--2--info {
    width: 80%;
}

.flexRowContent--home__section--2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColChild--home__sectionCol--2{
    padding: 3px;
}

/* SLIDER 1 */

.flexRow--home__rich--text{
    text-align: center;
}

.flexCol--home_container--pictures{
  height: 46.375rem;
}

.flexRow--text__col--pictures{
  max-width: 34.4375rem;
}

.flexRow--home__pictures{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flexColChild--home_container--pictures{
    margin: 2.5rem;
}
.flexRowContent--home__pictures{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexRow--home__text--pictures{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol--home__text--rich{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 120px 30px 145px;

}

@media only screen and (max-width: 575px){
  .flexCol--home__text--rich{
     border: 1px solid red;
  }

}

.flexRow--home__favorites--sony{
    display: flex;
    /* justify-content:space-between;  */
    align-items: center;
    height: 450px;
}

.flexColChild--home__favorites--one{
    margin: 5px 31px 0 31px;
}


/* Title NewLetter */

.flexRow--home__title--newletter{
    margin-top: 3rem ;
    margin-bottom: 3rem;
}

.flexRow--Home__container--form--newletter{
    width: 90%;
    padding: 1.6em 0 2.6em!important;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 4rem;
    background-color: #F1F5F9;
}

/* Payments */

.flexRowContent--home__payment--methods{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
}

.flexColChild--home__payments--col{
    margin: 4px;
}

.flexCol--home__payments--col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300%;
    margin: 10px;
}

.flexRowContent--home__payment--methods{
    display: flex;
    justify-content: center;
    align-items: baseline;
}


/* HELP BUY STORE */

.flexRow--home__help--buy{
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexRow--text__col--pictures{
    transform: translate(-1px, -84px);
}

.flexColChild--home__col--pictures--container{
    margin: 7px;
}

