.paragraph--home__text--davivienda{
    /* border: 1px solid #fff; */
    width: 530px;
    margin: 0;
    color: #bcbccc;
    font-size: 18px;
    font-weight: 700;
}

.paragraph--home__text--link{
    /* border: 1px solid #fff; */
    width: 100px;
    background: transparent!important;
    font-size: 18px;
    color: #5787f4;
    text-decoration: none !important;
    margin-left: 13rem;
}

.paragraph--home__text--link:hover{
    color: #EE5C38;
}

.paragraph--home__text--one{
    font-size: 13px;
    font-weight: 700;
    color: black;
    /* border: 1px solid #fff; */
}
.paragraph--home__text--two{
    width: 350px;
    /* border: 1px solid #fff; */
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-align: start;
    margin-top: -1.5rem !important
}
.paragraph--home__text--three{
    width: 350px;
    margin-top: 1rem;
    font-size: 15px;
    line-height: 24px;
    color: black;
}

.container--home__text--unmissable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph--home__text--unmissable{
    color: #3F3F40;
    font-size: 37px;
    line-height: 36px;
    margin: 0 auto 35px;
    float: none;
    text-transform: capitalize;
    /* border: 1px solid #000; */
}

.paragraph--text__pictures--one{
    font-size: 18px;
    line-height: 26px;
    color: #83838f;
    font-weight: 700;
}
.paragraph--text__pictures--two{
    font-size: 14px;
    color: #83838f;
    line-height: 23px;
    white-space: normal;
}

.paragraph--text__pictures--three{
    font-size: 14px;
    color: #4572ed;
    text-decoration: none;
    transition: all .2s;
    text-decoration: none !important;
}