
.slideChildrenContainer--home__slider--section2{
  /* border: 1px solid #000; */
  max-width: 95rem;
  overflow: hidden;
}
.slide--home__slider--section2--visible{
  margin-top: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderArrows--home__slider--section2{
    cursor: pointer;
    z-index: 2;
    width: 30px;
    height: 52px;
    font-size: 18px;
    text-align: center;
    line-height: 52px;
    background-color: #000 !important;
    color: #fff;
    border-radius: 3px;
    opacity: .3;
    transition: all .25s;
    margin-top: 2.3rem;
}

