.nameInputContainer{
  display: inline-block;
}
.emailInputContainer{
  width: 268px;
  display: inline-block;
  border-radius: 0 !important;
}

.formSubmitContainer{
    display: inline-block;
    margin-top: 1.4rem;
    transition: all .25s;
}

.newsletterForm--home__form--newletter{
    display: flex;
    justify-content: center;
    align-items: center;
}
