
.sliderLayoutContainer--home__slider--section2{
  margin-top: 2.5rem;
}
.slide--home__slider--section2--visible{
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationDotsContainer--home__slider--section2{
  margin-bottom: .125rem;
}
.paginationDot--home__slider--section2--isActive{
  background-color: #030303ce !important;
}


.sliderArrows--home__slider--section2{
    cursor: pointer;
    z-index: 2;
    width: 32px;
    height: 52px;
    background-color: rgba(56, 55, 55, 0.404) !important;
    color: #fff;
    border-radius: 3px;
    transition: all .25s;
}

.sliderArrows--home__slider--section:hover{
  background-color: rgb(0, 0, 0) !important;
}

@media (min-width: 2560px) {
  .sliderArrows--home__slider--section2{
    margin: 7.5rem;
}
}
