.listContainer--tab__list--container{
  padding: 0.8rem;
  margin-top: 4rem;
}

.listContainer--tab__list--container :global(.vtex-button){
  background-color: #f25529;
  cursor: pointer;
  border-radius: 0 !important;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1rem;
  font-weight: 700;
  border-style: none !important;
}



