/* BUTTON CLOSE MINICART */

.closeIconContainer{
  display: none;
}

/* MINICAR TITLE */
.minicartTitle{
  display: none;
}

.minicartSummary{
  box-shadow: none;
  border-top: 1px solid #e3e4e6;
}

.minicartCheckoutButton{
  margin-top: 2rem;
}

.minicartCheckoutButton :global(.vtex-button__label){
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  /* display: none; */
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
/* .minicartCheckoutButton::after :global(.vtex-button__label){
  /* content: "prueba"; */


.minicartQuantityBadgeDefault{
  background-color: #F85229!important;
}

.minicartContainer:hover :global(.vtex-button){
  background-color: #4472ED !important;
  border-radius: 0 ;
}

.minicartCheckoutButton :global(.vtex-button){
   border: none;
   transform: translateY(-15px);
    background-color: #f25529;
    border-radius: 0;
    transition: all .25s;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.popupBoxPosition{
  width: 26.8125rem;
}

.minicartCheckoutButton:hover :global(.vtex-button){
  background-color: #f25529;
  opacity: 0.6;
  transition: 0.3;
}