.paragraph--footer__text--disclosure{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #83838f;
    cursor: default;
}

.paragraph--footer__text__colombia--mobile{
    color: #FFF;
    font-size: 12px;
}