.paragraph--footer__text--disclosure{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #83838f;
    cursor: default;
}

.paragraph--footer__text__colombia--mobile{
    color: #FFF;
    font-size: 12px;
}

.link--footer__desktopCol--text{
    text-decoration: none;
    color: #83838f;
}

@media (min-width: 320px) and (max-width: 480px) {
  .paragraph--footer__desktopCol--text--link{
    text-align: center;
  }
  .paragraph--footer__desktopCol--text{
    text-align: center;
  }
  
}