.flexRow--footer__mobile--container{
  margin-top: 2.5rem;
  background-color: #1F2024;
}
.flexCol--footer__mobile--colombia{
  display: flex;
  margin-top: 2rem;
  padding: 0.5rem;
  flex-direction: row;
  width: 12.6875rem !important;
  justify-content: flex-start;
  background-color: #3c3c42;
  cursor: pointer;

}

.flexCol--footer__mobile--colombia:hover{
  background-color: #4F4D56;
}

.flexRow--Container__social-media-block{
    background-color: #1F2024;
}

.flexColChild--footer__mobile--colombia {
  margin-right: 1rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  
.flexCol--footer__section2--col2{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .flexColChild--footer__section2--col3{
    height: 48px !important;
  }
}
