@media only screen and (max-width: 575px){
.minicartWrapperContainer{
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minicartContainer :global(.vtex-button){
  transform: translateX(-6px);
}
.minicartContainer:hover :global(.vtex-button){
  background-color: transparent !important;
}
}
