@media only screen and (max-width: 575px){
.minicartWrapperContainer{
  transform: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.minicartContainer :global(.vtex-button){
  display: contents;
}
.minicartContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.minicartContainer:hover :global(.vtex-button){
  background-color: transparent !important;
}
.openIconContainer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 51px;
}
.minicartIconContainer {
  transform: translateX(-17px);
}
}
