.trigger--disclosure__trigger{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 1rem;
    border-bottom: 1px solid #3c3c42;
}

.content--visible{
  margin-left: .9375rem;
}