.paragraph--header__store--text{
  font-size: 8px;
  text-transform: uppercase;
  line-height: 18px;
  color: #FFF;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.paragraph--header__store--number{
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    color: #FFF;
    font-size: 16px;
}

.paragraph--header__text--order{
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  margin: 6px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph--header__text--products{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.wrapper--header__text--products{
  height: 100%;
  width: 100%;

}

