.autoCompleteOuterContainer--header__search--barra{
  display: flex;
  border-radius: 0;
  border-color: transparent;
  overflow: hidden;
  border-style: solid;
  border-width: 0.125rem;

}


.searchBarIcon--header__search--barra{
  border-radius: 0 !important;
  border-color: transparent;
  background: #4572ed;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.searchIcon{
  color  : #fff
}

.imageElement--header__image--icon{
  border-radius: 50%;
  width: 170px;
}


.imageElement--header__img--products{
  width: auto;
  max-width: 100%;
  border-style: none;
  overflow-clip-margin: content-box;
  cursor: pointer;
  overflow: clip;
  transform: scale(1.2);
}