.menuContainer--desktop__menu--middle{
    /* border: 1px solid #000; */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.submenuWrapper--desktop__deparment--submenu--isOpen{
    background-color: #F1F5F9;
    position:fixed;
    width: 100%;
}

/* .submenu--desktop__deparment--submenu{
    width: 100%;
} */

.styledLinkContent--desktop__dep{
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.styledLinkContainer--desktop__dep{
    padding-bottom: 5px;
    padding-top: 7px;
}

/* LOGIN MENU */

.submenuWrapper--desktop__deparment--submenu--login--isOpen{
    background-color: transparent;
    transform: translate(-149px, -19px);
    border: none;
}


.styledLinkContent--desktop__dep--login::before{
    content: url('https://api.iconify.design/carbon/overflow-menu-vertical.svg?color=white&width=45&height=45');
}

.menuItem--desktop__dep--login--isClosed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.styledLinkContent--desktop__dep--login{
    display: flex;
    justify-content: center;
    width: 36px;
    height: 47px;
    align-items: center;
}

.styledLinkContent--desktop__dep--login:hover{
    background: #4572ed;
}
