.headerRowBackground--header__top {
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: #000;
}

.headerRowContainer--header__top{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 8px;
}
