.autoCompleteOuterContainer--header__search--barra{
  display: flex;
  border-radius: 0;
  border-color: transparent;
  overflow: hidden;
}

.searchBarInnerContainer--header__search--barra{
  display: flex;
  justify-content:right;
}

.searchBarIcon--header__search--barra--external-search{
  background-color: #4572ed;
}
.searchIcon{
  color  : #fff
}

.imageElement--header__image--icon{
  border-radius: 50%;
  width: 170px;
}


.imageElement--header__img--products{
  width: auto;
  max-width: 100%;
  border-style: none;
  overflow-clip-margin: content-box;
  cursor: pointer;
  overflow: clip;
}
