.flexRowContent--header__information--store{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  width: 110%;
  margin-right: 100rem;
}
.flexRowContent--header__information--container{
  /* border: 10px solid #ccc; */
  width: 21.875rem;

}

.flexRow--header__icon--call{
  margin-top: 5px;
  background-position: -325px -450px;
  margin-right: 130px;
}

.flexColChild--header__icon--image{
  /* border: 2px solid #ccc; */
  width: 80%;
}

.flexRow--header__icon--call{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #ccc; */
  width: 20% !important;
  height: 90% !important;
}

/* MENU */

.flexRowContent--row__container--menu{
  /* background-color: red; */
  width: 100%;
}


.flexColChild--header__container--col{
  margin: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCol--header__container--col{
  padding: 1.5rem;

}
.flexCol--header__container--col:hover{
  background-color: white;
  cursor: pointer;
}
