.input{
  display: block;
    float: left;
    width: 100%;
    background: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 8px 50px 8px 15px;
    color: #606060;
    box-sizing: border-box;
}