.flexRowContent--header__information--container{
  display: flex;
  flex-direction: column;
}
.flexRowContent--header__order--racking{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol--header__col--order  {
  margin: 8px;
}
/* MENU */

.flexRowContent--row__container--menu{
  /* background-color: red; */
  width: 100%;
}


.flexColChild--header__container--col{
  margin: .4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCol--header__container--col{
  padding: 1.5rem;

}
.flexCol--header__container--col:hover{
  background-color: white;
  cursor: pointer;
}


/* MENU LOGIN */
.flexRow--header__deparment--login{
  width: 60px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRowContent--header__deparments--login--one{
    background-color: white;
    height: 211px;
    width: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    -webkit-box-shadow: 10px 10px 69px 1px rgba(0,0,0,0.54);
    -moz-box-shadow: 10px 10px 69px 1px rgba(0,0,0,0.54);
    box-shadow: 10px 10px 69px 1px rgba(0,0,0,0.54);
}

.flexColChild--header__col--login{
    width: 257px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}


.flexColChild--help__site{
  margin-left: 1rem;
}