.paragraph--header__store--text{
  /* border: 1px solid #ffffff; */
  width: 40%;
  color: #ffffff;
  font-size: .5rem;
  text-transform: uppercase;
  line-height: 18px;
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin-right: 380px;
}

.paragraph--header__store--number{
  /* border: 1px solid #ffffff; */
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color : #ffffff;
  display: flex;
  width: 140px;
}