.menuContainer--desktop__menu--middle{
    /* border: 1px solid #000; */
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.submenuWrapper--desktop__deparment--submenu--isOpen{
    background-color: #F1F5F9;
    position: fixed
}


.submenu--desktop__deparment--submenu{
    width: 100%;
}

.styledLinkContent--desktop__dep{
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.styledLinkContainer--desktop__dep{
    padding-bottom: 5px;
    padding-top: 7px;
}

/* LOGIN MENU */

.submenuWrapper--desktop__deparment--submenu--login--isOpen{
    background-color: transparent;
    position: fixed;
    width: 165%;
    border: none;
}


.styledLinkContent--desktop__dep--login::before{
    content: url(https://res.cloudinary.com/dafsjo7al/image/upload/v1674370929/icons8-men%C3%BA-2-24_1_bxwleo.png);
}
