
@media (min-width: 768px) and (max-width: 1024px) {

  .newsletterForm--home__form--newletter--mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6.625rem;
    width: 100%  !important;
  }

  .nameInputContainer--home__input--mobile{
    width: 17%;
  }
  .emailInputContainer--home__input--mobile{
    width: 20%;
  }
  .newsletterForm--home__form--newletter--mobile{
    margin-top: 0;
  }
  .newsletterForm--home__form--newletter--mobile :global(.vtex-button){
    width: 100%;
    margin-left: 5px;
    transform: translateY(-11px);
  }
}
