
@media (min-width: 768px) and (max-width: 1024px) {
.flexRowContent--mobile__marco--slider{
    display: flex;
    align-items: center;
}
.flexRowContent--mobile__home--slider2{
  margin-top: 2rem;
}
.flexCol--mobile__section--info {
    /* border: 1px solid red; */
    width: 50% !important;
}
.flexRowContent--mobile__home--infomation{
    border: 1px solid red;
    transform: translate(-205px, -211px);
    display: none;
}
.flexCol--mobile__col--pictures--container{
  padding: 0;
}

.flexRow--mobille__container--text--col{
    display: flex;
    align-items: flex-end;
}

.flexRowContent--home__favorites--store-sony{
    display: flex ;
}

.flexRowContent--home__surveys--mobile{
    display: none;
}
.flexColChild--home__newletter-mobile--info{
    display: flex;
    justify-content: flex-start;
}
.flexRow--drawer__tablet{
    display:block;
  }
}
