
@media (min-width: 768px) and (max-width: 1024px) {

  .newsletterForm--home__form--newletter--mobile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 106px;
    width: 100vw !important;
  }

  .nameInputContainer--home__input--mobile{
  width: 7.8rem;
  }
  .emailInputContainer--home__input--mobile{
  width: 11.8rem;
  }

  .newsletterForm--home__form--newletter--mobile :global(.vtex-button){
    width: 60%;
    transform: translateY(-11px);
  }
}