@media (min-width: 768px) and (max-width: 1024px) {
  .paginationDotsContainer--home__slider--sectionthree{
    transform: translateY(48px) !important;
    margin-bottom: 2rem;
  }

  .sliderTrack--home__slider--sectiontwo{
    height: 13.3125rem;
  }
  .sliderArrows--home__slider--sectiontwo{
    margin-top: 0;
  }
}
