@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper--mobile__text--davivienda{
    width: 100%;
  }

  .paragraph--text__favorites--1{
    font-size: 18px;
    color: #2f353d;
    line-height: 1!important;
    margin-bottom: 5px;
  }
  .paragraph--home__text--newletter--mobile{
    font-size: 32px;
    color: #2f353d;
    width: 50rem;
    transform: translateX(-346px);
  }
  .wrapper--home__text--unmissable{
    margin: 3rem;
  }
}
