.wrapper--not__found--1{
  color: #63666a;
  font-size: 29px;
  font-weight: 700;
}

.wrapper--not__found2{
  font-size: 12px;
  text-align:left;
  color : #3f3f40;
}

.paragraph--text__no--found--link{
  color : blue;
  font-size: 12px;
}