

@media only screen and (min-width: 768px) and (max-width: 991px){
  .trigger--mobile__search--bar{
    border-left: 1px solid #2f353d;
    transform: translateX(187px);
    height: 100%;
    display: flex;
    margin-left: 1rem;
    justify-content:flex-end;
    align-items: center;

}

.container--mobile__search--bar{
  margin-top: 0 !important;
}

}
