@media only screen and (min-width: 768px) and (max-width: 991px){
  .flexCol--header__mobile--col1  {
  width: 130px !important;
}

.flexCol--header__mobile--col2{
  width: 300px !important;
}
.flexCol--header__mobile--col3{
  width: 95px !important;

}

.flexCol--header__mobile--col4{
  width: 95px !important;
}

.flexCol--header__mobile--col5  {
  width: 60px  !important;
}
.flexCol--header__mobile--col6{
  width: 110px !important;
}
}
