/* Example Tablet:
.styledLinkContainer {
    margin: 0 12px;
} */



@media only screen and (min-width: 768px) and (max-width: 991px){
.styledLinkContent--desktop__dep--login{
    transform: translateX(372px);
}
.submenuWrapper--desktop__deparment--submenu--login--isOpen{
    transform: translate(164px, -15px);
}
}