
/* CONTENT SLIDER 1 */

.flexRow--home__section--one{
    display: flex;
    align-items: center;
    width: 100%;
    background-image: url("https://cosonyb2c.vtexassets.com/assets/vtex.file-manager-graphql/images/3e8f2b21-1b73-449e-a725-5c2e45d0d1f1___85a2133e802f0fe9dcf91263906995b4.jpg");
    height: 25.3125rem;
    background-size: cover;
    cursor: pointer;
    background-position: 50%;
}


@media only screen and (max-width: 575px){
  .flexRow--home__section--one{
    display: flex;
    align-items: center;
    width: 100%;
    height: 22.25rem !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
  .flexCol--home__section--info  {
    max-width: 17.1875rem;
}
}

.flexRowContent--home__section--one{
  display: grid;
  max-width: 980px;
  margin: 0 auto;
}

.flexCol--home__section--info  {
  padding: 1rem;
  width: 380px !important;
}

.flexColChild--home__section--info{
  margin: 4px;
}

/* CONTENT SLIDER 2 */

.flexRow--home2__slider2{
  background-image: url("https://cosonyb2c.vtexassets.com/assets/vtex.file-manager-graphql/images/45c98f9b-f7c6-4ebe-b582-ab987553b76f___6b1eb81b74a2639828a28b1144df1dba.jpg");
}



/* CONTENT SLIDER 3 */

.flexRow--home3__slider3{
  background-image: url("https://cosonyb2c.vtexassets.com/assets/vtex.file-manager-graphql/images/0c3bd9f4-5460-4098-98be-473d5c8e975b___8ca0961585c4bfba240e198f50b32e95.jpg");
}

/* CONTENT SLIDER 4 */

.flexRow--home4__slider4{
  background-image: url("https://cosonyb2c.vtexassets.com/assets/vtex.file-manager-graphql/images/4d3ee1f5-5622-4e0c-9351-39296eb7f4c6___2e76c042da58061c040aacc5a873fb7e.jpg");
}

.flexCol--slider4__background{
  background-color: #212530 ;
}
