.flexRow--footer__desktop--container{
  background-color: #1F2024;
  height: 18.75rem !important;
}
.flexRowContent--footer__desktop--container{
  max-width: 74.75rem;
  margin: 0 auto;
}
.flexCol--footer__menu--col{
  /* border: 1px solid yellow; */
  margin: 20px 40px 40px 40px;
}

.flexColChild--footer__menu--col{
  display: flex;
  justify-content:left;
  align-items:baseline;
  /* border: 1px solid orange; */
}

.flexColChild--footer__menu--col:first-child{
  height: 35px !important;
}
/* COL 1 */

.flexCol--footer__menu--locationCol{
  /* border: 1px solid blue; */
  margin-top: 20px;
}

.flexColChild--footer__menu--locationCol{
  /* border: 1px solid #0fd; */
  height: 17% !important;
}


.flexRow--footer-section2{
  background-color: #1F2024;
  padding: 1rem;
  border-bottom: 1px solid #3c3c42;
  width: 100%;
}

.flexRowContent--footer-section2{
    display: flex;
    max-width: 74.75rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexCol--footer__section2--col1{
  display: flex;
  flex-direction: row;
  padding: 1.3rem;
  justify-content:flex-start;
  cursor: pointer;
  margin-top: 2rem;
  background-color: #3f3f40;
  margin-right: 6.5625rem;
  max-width: 12.5rem;
  height: 30%;
}
.flexCol--footer__section2--col1:hover{
  background-color: #4F4D56;
}

.flexColChild--footer__section2--col1{
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flexCol--footer__section2--col2{
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.flexColChild--footer__section2--col2{
  display: flex;
  margin: 0 20px 0 20px;
  justify-content: center;
  align-items: center;
}


.flexCol--footer__section2--col3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 2.3125rem;
  align-items: center;
}

.flexColChild--footer__section2--col3{
  display: flex;
  width: 3rem;
  background-color: #3B3D44;
  height: 48% !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.flexColChild--footer__section2--col3:first-child:hover{
  background-color: #3B5B98;
}
.flexColChild--footer__section2--col3:nth-child(2n):hover{
  background-color: #05ACEE;
}
.flexColChild--footer__section2--col3:nth-child(3n):hover{
  background-color: #EF3C38;
}
.flexColChild--footer__section2--col3:last-child:hover{
  background-color: #507DA2;
}
.flexRowContent--footer__desktop--section3{
  padding: 3rem;
}

.flexRow--footer__desktop--section3{
  background-color: #1F2024;
  width: 100%;
}

.flexRowContent--footer__desktop--section3{
  max-width: 74.75rem;
  margin: 0 auto;
}

.flexCol--footer__desktopCol--section3{
  transform: translateX(-3.1875rem);
}

.flexCol--vtex__icon{
  transform: translateX(.875rem);

}
