.paragraph--header__text--mobile{
  font-size: 16px;
  color: rgb(47, 52, 61);
  font-weight: 700;
  text-transform: capitalize;
}

.paragraph--header__help--mobile{
  font-size: 10px;
  text-transform: uppercase;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}


.wrapper--header__call--text1{
  font-size: 14px;
  color: #2f343d;
  font-weight: 300;
}


.wrapper--header__call--text3{
  font-size: 14px;
  color: #2f343d;
  font-weight: 700;
}
