.flexRowContent--header__call--block-mobile{
  width: 100%;
  display: flex;
  text-align: center;
  padding: .25rem;
}

@media only screen and (max-width: 575px){
  .flexRowContent--header__deparment--login{
    height: 66px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-left: 1px solid #2f353d;
    border-right: 1px solid #2f353d;
  }
  .flexRowContent--header__deparment--login:hover{
    background-color: rgb(69, 114, 237);
  }
}