.headerRowContentContainer{
  background-color: #000;
}

.headerRowContentContainer--mobile__drawer:hover{
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(69, 114, 237);
}

@media only screen and (max-width: 575px){
  .headerStickyRow--mobile__drawer{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

