
.flexRow--help__center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent--help__center{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  max-width: 861px;
  margin: 0 auto;;
  background-color: #F1F5F9;
  padding: 4rem 0px 1rem 0px;

}

.flexCol--help__center--col{
  /* border: 1px solid orange; */
  width: 24.75rem!important;
  margin: .7125rem;
  background-color: #fff;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
}

.flexColChild--help__center--col{
  /* border: 1px solid forestgreen; */
  width: 100%;

}

.flexRow--help__center--row--container{
  /* border: 1px solid violet; */
  width: 100%;
  padding: 1rem;
}

.flexRowContent--help__center--row--container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexRowContent--title__help--center--one{
  max-width: 861px;
  transform: translateY(56px);
  margin: 0 auto;

}


@media only screen and (max-width: 575px){
  .flexCol--help__center--col{
    width: 20.5rem !important;
  }
  .flexRowContent--help__center{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}
}


