.label--mobile__button-one{
  text-transform: initial;
  font-size: 14px;
}
.buttonLink--mobile__button-one{
  color: #fff;
  height: 44px;
  transition: all .2s;
  background-color: #5787F3;
  border: none;
  margin-top: 1rem;
  border-radius: 0 !important;
}

.buttonLink--mobile__button-one:hover{
  background-color: #7992D2;
}

.childrenContainer--marco__link--text{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fff; */
  
}

/* BUTTON OF SURVEYS MOBILE */

.buttonLink--home__button--surveys{

  color: #fff;
  width: 11.575rem;
  height: 2.75rem;
  transition: all .2s;
  background-color: #4472ED;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 1rem;
  border-radius: 0 !important;
}

.label--home__button--surveys{
  font-size: .775rem;
}

.link--marco__link--text{
  text-decoration: none;
}

.link--mobile__link--picture{
  text-decoration: none;
}