.imageElement--home__image--mobile{
  /* border: 1px solid #000; */
  width: 70%;
  height: 6.375rem;
  margin: 0 auto;
}

.imageElement--home__image--slider2{
  width: 18.75rem;
}

.imageElement--image__favorites--mobile{
  width: 8.175rem;
}

.imageElement--mobile__image--slider{
  max-width: 100vw;
}


:global(.vtex-button__label){
  text-transform: initial;
  font-size: 12px;
}
