.paragraph--mobile__text--one{
  color: black;
  font-size: 13px;
  font-weight: 700;
  margin-top: 20px;
}
.paragraph--mobile__text--two{
  color: black;
  font-size: 23px;
}
.paragraph--mobile__text--three{
  color: black;
  font-size: .8rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.paragraph--mobile__text--davivienda{
    color: #bcbccc;
    padding-top: 1rem;
    font-size: 18px;
    font-weight: 700;
    text-align: center;

}

.paragraph--mobile__text--ver{
  background: transparent!important;
  font-size: 18px;
  color: #5787f4;
  text-decoration: none !important;
}


.paragraph--mobile__text--ver:hover{
  color: #EE5C38;
}


/* Favorites Sony Store */

.container--text__block--favorites{
  margin-top: 3rem;
  font-weight: 700;
  line-height: 26px;
  color: #2f353d;
  text-transform:capitalize;
  font-size: 24px;
  margin-bottom: 45px;

}

.paragraph--text__favorites--one{
  font-size: .875rem;
}

/* SURVEYS MOBILE */

.paragraph--home__survey__text{
  font-size: 12px;
  color: #63666a;
  font-weight: 700;
  line-height: 1.5;
}

/* NEWLETTER MOBILE */

.paragraph--home__text--newletter--mobile{
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
  font-size: 19px;
  transform: translateX(-19px);
}

.wrapper--home__help--info1{
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #2f353d;
  font-size: 20px;
}

.container--home__help--info1{
  margin-bottom: 1.5rem;
}


.wrapper--home__help--correo1{
  width: 100%;
  text-align: center;
  line-height: 1.5;
  display: block;
}
.paragraph--home__help--correo1{
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}

.paragraph--mobile__text--one--picture{
    font-size: 18px;
    line-height: 26px;
    color: #83838f;
    text-align: center;
    font-weight: 700;
}

.paragraph--mobile__text--two--picture{
    clear: both;
    width: 100%;
    font-size: 14px;
    color: #83838f;
    margin-top: 12px;
    line-height: 23px;
    white-space: normal;
    text-align: center;
}

.paragraph--mobile__pictures--three{
  color: #4572ed;
    text-decoration: none;
    transition: all .2s;
}
