.newsletterForm--home__form--newletter--mobile{
  width: 90% !important;
  margin-top: 4rem;
  background: #f1f5f9;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nameInputContainer--home__input--mobile{
  width: 16.8rem;
}

.emailInputContainer--home__input--mobile{
  width: 16.8rem;
  
}

.formSubmitContainer{
  width: 16.5rem;
}

.newsletterForm--home__form--newletter :global(.vtex-button){
  background-color: #F25529;
  width: 100%;
  border: none;
  transition: all .25s;
  min-height: 36px;
  border-radius: 0 ;
}

.newsletterForm--home__form--newletter--mobile :global(.vtex-button){
  background-color: #F25529;
  width: 100%;
  border: none;
  transition: all .25s;
  min-height: 36px;
  border-radius: 0 ;
}