.flexColChild--mobile__section--info{
  margin-top: 2px;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.flexRowContent--mobile__home--section1{
  /* border: 1px solid #000; */
  width: 100%;

}

.flexRowContent--mobile__marco--slider{
  background-color: #212530;
  padding: .4375rem;
}

/* FAVORITE SONY STORE */

.flexRowContent--home__favorites--store-sony{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flexColChild--home__favorites--title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .4125rem;
}

/* SURVEY MOBILE */

.flexRowContent--home__surveys--mobile {
  margin-top: 3rem;
  height: 5.25rem;
}

.flexColChild--surveys__block--container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .125rem;
}

/* Newletter */

.flexRowContent--home__newletter-mobile {
  margin-top: 4rem;
  display: flex;
  align-content: center;
  /* border: 1px solid #000; */
}

.flexColChild--home__newletter-mobile--info{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-19px);
}

.flexRowContent--mobile__home--slider4{
  margin-top: 4rem;
}

.flexRow--home__help{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  height: 10rem;
}

.flexRowContent--mobile__home--slider3{
  margin-bottom: 3rem;
}

.flexCol--mobile__col--pictures--container{
  text-align: center;
  justify-content: center;
  padding: 47px;
}

.flexColChild--mobile__col--pictures--container{
  transform: translateY(-30px);
  margin: 6px;
  align-items: center;
}

.flexRow--drawer__tablet{
    display: none;
  }


