@font-face{
    font-family: "Roboto-Bold";
    src: url(assets/fonts/Roboto-Bold.ttf); 
}

@font-face{
    font-family: "Roboto-Light";
    src: url(assets/fonts/Roboto-Light.ttf); 
}

@font-face{
    font-family: "Roboto-Medium";
    src: url(assets/fonts/Roboto-Medium.ttf); 
}

@font-face{
    font-family: "Roboto-Regular";
    src: url(assets/fonts/Roboto-Regular.ttf); 
}
@font-face{
    font-family: "SST W01 Roman";
    src: url(assets/fonts/SST-W01.ttf); 
}
@font-face{
    font-family: "San Francisco";
    src: url(assets/fonts/SFUIDisplay-Regular.otf);  
}
