.trigger--disclosure__trigger--specification{
  border: 1px solid red;
  width: 100%;
  margin: auto;
  display: flex;
  background: #f1f5f9;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

/* .content--visible{
  border: 1px solid red;  
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */